[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
pytest = "*"
pyyaml = "*"
Logging = "*"
Pytest = "*"
Selenium = "*"


[requires]
python_version = "3.7"
